name: test concurrency

on:
  push:

concurrency: 
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
  
  
jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - run: sleep 10
    - run: sleep 10
    - run: sleep 10
    - run: sleep 10
    - run: sleep 10
    - run: sleep 10
    - run: sleep 10
