name: Build and push Docker image
on:
  push:
    branches:
      - master
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2
      - name: Build and push
      uses: docker/build-push-action@v2
      with:
        push: false
        tags: testtag:${{ github.sha }}
      run: echo "::set-output name=image::testtag:$IMAGE_TAG"   
    - name: List Docker images
      run: docker images
