
name: test package

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    outputs:
      package-changed: ${{ steps.package-lock-status.outputs.package-changed }}
    steps:
    - uses: actions/checkout@v3
    - run: npm i
    - id: package-lock-status
      run: echo "::set-output name=package-changed::$(git status | grep package-lock.json | wc -l)" 
    - run: echo ${{ github.event.pull_request.head.sha }}
    # - uses: actions/upload-artifact@v3
    #   if: ${{ steps.package-lock-status.outputs.package-changed }}
    #   with:
    #     path: 'package-lock.json'
    #     name: ${{ github.event.pull_request.head.sha }}

    - if: ${{ steps.package-lock-status.outputs.package-changed == '1'}}
      run: git stash -u

    - if: ${{ steps.package-lock-status.outputs.package-changed == '1' }}
      uses: actions/checkout@v3
      with:
        # fetch-depth: 0
        ref: ${{ github.event.pull_request.head.sha }}

    - if: ${{ steps.package-lock-status.outputs.package-changed == '1' }}
      run: git stash pop
    - if: ${{ steps.package-lock-status.outputs.package-changed == '1' }}
      run: git add package-lock.json
    - if: ${{ steps.package-lock-status.outputs.package-changed == '1' }}
      run: git commit -m "update pkg lock"
    - if: ${{ steps.package-lock-status.outputs.package-changed == '1' }}
      run: git push origin HEAD:$GITHUB_HEAD_REF