
name: test dispatch

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - run: env
    - run: npm i
    - run: git config user.email "ghactions@mku.com" && git config user.name "GH Actions"
        
    - id: package-lock-status
      run: echo "::set-output name=package-changed::$(git status | grep package-lock.json | wc -l)" 
    - if: ${{ steps.package-lock-status.outputs.package-changed }}
      uses: actions/checkout@v3
        ref: ${{ env.GITHUB_HEAD_REF }}
        
    - if: ${{ steps.package-lock-status.outputs.package-changed }}
      run: |
        git add package-lock.json && 
        git commit -m "update pkg lock" && 
        git push origin $GITHUB_HEAD_REF
