
name: test dispatch

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - run: env
    - run: npm i
    - run: git config user.email "ghactions@mku.com" && git config user.name "GH Actions"
    - run: git status
    - id: package-lock-status
      run: echo "::set-output name=package-changed::$(git status | grep package-lock.json | wc -l)" 
    - if: ${{ steps.package-lock-status.outputs.package-changed }}
      run: git stash -u
    - if: ${{ steps.package-lock-status.outputs.package-changed }}
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        ref: ${{ env.GITHUB_HEAD_REF }}

    - if: ${{ steps.package-lock-status.outputs.package-changed }}
      run: git stash pop
    - if: ${{ steps.package-lock-status.outputs.package-changed }}
      run: git add package-lock.json
    - if: ${{ steps.package-lock-status.outputs.package-changed }}
      run: git commit -m "update pkg lock"
    - if: ${{ steps.package-lock-status.outputs.package-changed }}
      run: git push origin $GITHUB_HEAD_REF
